/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Example of a media query for smaller devices */
@media (max-width: 600px) {
  .wrap-text {
    font-size: 0.9rem; /* Slightly smaller font on small devices */
  }
}
/* Adjustments for tablets */
@media (max-width: 768px) {
  .wrap-text {
    max-width: 95%;
    font-size: 1.1rem;
  }
}

/* Adjustments for mobile phones */
@media (max-width: 480px) {
  .wrap-text {
    max-width: 100%;
    font-size: 1rem;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  color: #ffffff; /* Sets the text color to white */
  font-family: Monaco, 'Trebuchet MS', 'Times New Roman', serif;
  text-align: center; /* Center-align text */
  background: orangered;
  background: linear-gradient(to right, darkmagenta, rebeccapurple, teal);
  background-size: cover;
}

h1, h2, p {
  text-align: center; /* Center-align text */
}

h2 {
  font-size: 2em;
  margin-top: 60px; /* Space above the paragraph */
  margin-bottom: 20px; /* Space below the paragraph */
  /*border: 8px solid white; !* Solid black border *!*/
  /*display: block; !* Use block to take full width and allow margin auto to work *!*/
  /*width: fit-content; !* Make the width as wide as its content *!*/
  /*margin: 10px auto; !* Auto margins for horizontal centering *!*/
}

/* Customize the title specifically */
.fornim-border {
  border: 8px solid white; /* Solid black border */
  display: block; /* Use block to take full width and allow margin auto to work */
  text-align: left; /* Center the text */
  padding: 10px; /* Add some padding around the text */
  /* Auto margins for horizontal centering */
  margin: 1em auto 10px;
  font-size: 4em; /* Adjust font size as needed */
  width: fit-content; /* Make the width as wide as its content */
  line-height: 1; /* Ensure the text is centered vertically */
}

.wrap-text {
  max-width: 80%; /* Use percentage for fluid width */
  margin: 0 auto; /* Center the div */
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1rem; /* Good default size */
}

.p-top-margin{
 margin-top: 50px;
}

/* Customize links */
a {
  color: white; /* Link color */
  text-decoration: none; /* No underline */
  margin-top: 200px;
  font-size: 20px;
}


a:hover {
  text-decoration: underline; /* Underline on hover */
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; /* Optional, centers the content of the sticky element */
}

.top-margin {
  margin-top: 100px; /* Space above the paragraph */
}

